@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #342A21;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.developer {
    width: 100%;
    text-align: center;
    opacity: 50%;
    font-size: 10px;
    position: fixed;
    bottom: 10px;
}

/* HEADER */

.header-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-title {
    height: 150px;
}

.title {
    text-align: center;
}

/* ROOT */

#root {
    padding: 32px;
    width: 500px;
    border-radius: 6px;
    background: #342A21; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #342A21, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #342A21, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f5f5f5;
}

.dog-picture {
    max-width: 100%;
    border-radius: 6px;
}

.dog-title {
    display: flex;
    gap: 4px;
    align-items: center;
}

.dog-for {
    font-size: 14px;
}

.dog-info-area {
    margin-top: 12px;
}

.dog-info {
    text-wrap: wrap;
}

/* FOOTER */

.footer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 300px;
}

.find-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #342A21;
}

.logo-button {
    height: 35px;
}

.subtitle {
    font-size: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    #root {
        padding: 20px;
        width: 300px;
    }
}

@media (max-width: 425px) {
    #root {
        padding: 20px;
        width: 100%;
    }
}